.form-group {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.btn-primary {
    color: white;
    background-color: #2CBBD8;
    border: none;
    box-shadow: none; /* Removes blue halo */
}

.btn-primary:hover {
    color:  #5D5D5D;
    background-color: #dee2e6;
    cursor: pointer;
  }